fs.inotify.max_queued_events= 32768
fs.inotify.max_user_instances= 512
fs.inotify.max_user_watches= 16384
kernel.panic_on_oops= 0
kernel.panic= 10
net.ipv4.ip_forward= 1
vm.overcommit_memory= 1
vm.panic_on_oom= 0
{% if sysctl is defined %}
{% for value in sysctl %}
{{value}}
{% endfor %}
{% endif %}